{% extends 'accounts_base.html' %}
{% load static %}

{% block content %}
   <div class="login_container">
      <div class="login_left_container">
         <p class="login_head">LOG IN</p>
         <div class="loginform_container">
            <form method="POST" action="" id="login_form">
               {% csrf_token %}
               {{ form }}
               <input class="login_btn" type="submit" value="면접관으로 로그인 하기" style="color: white; border: none">
            </form>
         </div>
         <a class="signup_link" href="{% url 'accounts:signup' %}">
            <img src="{% static 'images/rocket.png' %}">
            <span>빠른 회원가입하기</span>
         </a>
      </div>
      <div class="login_right_container">
         <p class="login_comment">효율적인 인재 영입의 시작</p>
         <p class="login_logo">HIREHUB</p>
      </div>
   </div>
{% endblock content %}