header {
   height: 9.5rem;
}
main {
   padding: 1rem 3rem;
   height: calc(100vh - 9.5rem);
}
/* initial.html */
.initial_btns {
   margin-bottom: 1rem;
}
.initial_btns a, .initial_btns span, #logout_btn {
   text-decoration: none;
   font-size: 2rem;
   color: #A3A3A3;
   margin-right: 3rem;
}
.initial_btns a:hover, #logout_btn:hover {
   text-decoration: underline;
   text-decoration-thickness: 1.5px;
   text-underline-offset : 3px;
}
.initialApplicant_container1 {
   display: flex;
   flex-direction: column;
   padding: 4rem 4rem;
   height: 100%;
}
.initialApplicant_container2 {
   display: flex;
   height: 100%;
   justify-content: space-between;
}
.introduce_container {
   width: 70%;
}
.introduce, .initialApplicant_container1 > p {
   font-size: 3.2rem;
   margin-bottom: 1.5rem;
   margin-left: 1rem;
   font-weight: 500;
}
.introduce_content {
   background-color: #DFF8E0;
   border-radius: 2rem;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   padding: 4rem;
   height: 90%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.introduce_content p {
   margin-bottom: 0;
}
.introduce_content img {
   width: 16rem;
   margin-bottom: 2rem;
}
.slogan {
   font-size: 2.4rem;
   font-weight: normal;
   margin-bottom: -1rem;
}
.piro {
   font-size: 4.5rem;
   font-weight: bold;
   font-family: var(--eng-font);
   line-height: 4rem;
}
.content {
   margin-top: 3rem;
   font-size: 2rem;
}
.introduce_content a {
   font-size: 2.4rem;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   transition: all 0.3s ease-out;
}
.introduce_content a span {
   margin-right: 2rem;
}
.introduce_content a:hover {
   transform: translateY(-5px);
}

.schedule_container {
   width: 25%;

}
.schedule {
   font-size: 2.5rem;
   font-weight: 500;
   width: 100%;
   border-bottom: 1px solid rgba(0,0,0);
   padding-bottom: 1rem;
   margin-bottom: 2rem;
   padding-left: 1rem;
}
#schedule_grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 0 1rem;
   justify-items: start;
   font-size: 2rem;
   gap: 1.3rem;
}

/* signup.html */
.signup_container, .login_container {
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.signupform_container {
   display: flex;
   align-items: center;
}
.signup_head, .login_head {
   margin-bottom: 50px;
   font-size: 4rem;
   font-weight: bold;
   font-family: var(--eng-font);
}
#signup_form {
   width: 35rem;
   display: flex;
   flex-direction: column;
}

[id$="box"] {
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
   justify-content: space-between;
}
[id$="box"] label {
   font-size: 1.5rem;
   display: inline-block;
   /* width: 15rem; */
   font-weight: 500;
}

.signup_input, #login_form input {
   width: 25rem;
   height: 4.4rem;
   border-radius: 1rem;
   font-size: 1.3rem;
   border: 3px solid #F3F3F3;
   margin-bottom: 0px;
   padding-left: 10px;
}
.signup_email {
   display: flex;
   width: 47rem;
   justify-content: space-between;
   align-items: center;
}
#email_box {
   flex-direction: column;
   align-items: flex-start;
}
#email_box input {
   width: 35rem;
   margin-top: 10px;
}

#code_box label {
   color: var(--gray-color);
}
#code_box input {
   width: 17rem;
   border: none;
   border-bottom: 2px solid #F3F3F3;
   border-radius: 0;
   margin-right: 1rem;
}
.code_send {
   width: 35rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
#send_code_btn {
   width: 10rem;
   height: 4rem;
   border-radius: 7px;
   background-color: var(--main-color);
   color: white;
   font-weight: 500;
   font-size: 1.4rem;
   margin-top: 1.5rem;
}
#verify_code_btn {
   width: 7rem;
   height: 3rem;
   border-radius: 0.7rem;
   background-color: var(--gray-color);
   color: white;
   font-weight: 500;
   font-size: 1.3rem;
}

.button_container {
   display: flex;
   justify-content: center;
   align-items: center;
}
#signup_btn, #login_btn {
   background-color: var(--main-color);
   color: white;
   width: 35rem;
   height: 6rem;
   border-radius: 1rem;
   font-size: 2.4rem;
   font-weight: bold;
   margin-top: 5rem;
}
#verification_status {
   display: flex;
   justify-content: center;
}
#verification_status p {
   margin: 0px;
   font-size: 1.5rem;
   font-weight: 500;
}

/* login.html */
#login_form {
   width: 35rem;
   align-items: center;
}
#login_form input {
   width: 35rem;
   height: 5rem;
   margin-top: 0.8rem;
   margin-bottom: 2.4rem;
}
#login_form label {
   font-size: 1.5rem;
   font-weight: 500;
   margin-left: 1rem;
}
.link_container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 22rem;
   margin-top: 2.6rem;
   font-size: 1.6rem;
   color: #9A9A9A;
}
.link_container a {
   color: #9A9A9A;
}
.link_container a:hover {
   text-decoration: underline;
}

/* password_reset.html */
.password_reset_form_container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.password_reset_head {
   margin-bottom: 0;
}
.password_reset_form_container p {
   font-size: 1.5rem;
   margin-bottom: 8rem;
}
#password_reset_form p label {
   display: none;
}
#id_email, #new_password1, #new_password2 {
   width: 40rem;
   height: 5rem;
   border-radius: 1.5rem;
   font-size: 1.8rem;
   border: 1.5px solid var(--main-color);
   padding: 0 2rem;
}
#new_password1 {
   margin-bottom: 1rem;
}
#new_password2 {
   margin-bottom: 8rem;
}
#password_reset_btn , #password_reset_confirm_btn {
   margin-top: 0;
   color: white;
}