@media (max-width: 767px) {
   header {
      height: 13rem;
   }
   main {
      height: calc(100vh - 13rem);
   }
   /* base.html, initial.html */
   #mainLogo {
      width: 12rem;
   }
   .initial_btns span, .initial_btns a, #logout_btn {
      font-size: 1.2rem;
   }
   .initialApplicant_container1 {
      padding: 2rem 0;
   }
   .initialApplicant_container1 > p {
      font-size: 2rem;
   }
   .initialApplicant_container2 {
      flex-direction: column;
      justify-content: flex-start;
   }
   .introduce_container {
      width: 100%;
   }
   .introduce_content {
      padding: 2rem 1rem;
      height: 26rem;
   }
   .content_top img {
      width: 8rem;
   }
   .slogan {
      font-size: 1.4rem;
   }
   .piro {
      font-size: 2.4rem;
   }
   .content {
      display: none;
   }
   .link_write span {
      font-size: 1.3rem;
   }
   .schedule_container {
      width: 100%;
      margin-top: 4rem;
   }
   .schedule {
      font-size: 2rem;
   }
   #schedule_grid div {
      font-size: 1.6rem;
   }

   /* signup.html */
   .signup_head, .login_head {
      font-size: 3.2rem;
   }
   .signup_email {
      width: 100%;
   }
   #email_box input {
      width: 24rem;
   }

   /* password_reset.html */
   .password_reset {
      justify-content: flex-start;
      margin-top: 2rem;
      width: 100%;
   }
   .password_reset_head { 
      margin-bottom: 1rem;
   }
   .password_reset_container {
      padding: 2rem 1.5rem;
      height: 60rem;
   }
   .password_reset_intro img {
      width: 2.3rem;
   }
   .password_reset_intro span {
      font-size: 1.3rem;
   }
   #password_reset_form {
      width: 100%;
      align-items: center;
      flex-direction: column;
   }
   #password_reset_form button {
      margin-top: 2rem;
      font-size: 2rem;
   }
   #password_reset_confirm_btn {
      font-size: 2rem;
      height: 5.4rem;
   }

   /* apply_result.html */
   .result_banner {
      padding: 2rem 1.5rem;
      height: 25rem;
      flex-direction: column;
      align-items: flex-start;
   }
   .result_piro {
      margin-left: auto;
      font-size: 1.4rem;
   }
   .result_content img {
      width: 7rem;
      margin-bottom: 2.6rem;
   }
   .result_content p, .result_container a {
      font-size: 1.5rem;
   }
}