{% extends 'for_applicant/base.html' %}
{% load static %}

{% block content %}
   <div class="login_container">
      <p class="login_head">LOG IN</p>
      <form method="POST" action="" id="login_form">
         {% csrf_token %}
         <label for="email">이메일</label>
         <input type="email" name="email" id="email" placeholder="회원가입에 사용한 이메일을 입력해주세요." required>

         <label for="password">비밀번호</label>
         <input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요." required>
         <button type="submit" id="login_btn">로그인</button>
      </form>
      <div class="link_container">
         <a class="signup_link" href="{% url 'applicants:signup' %}">회원가입 하기</a>
         <span class="divider">|</span>
         <a class="findpwd_link" href="{% url 'applicants:password_reset' %}">비밀번호 찾기</a>
      </div>
   </div>
   <script src="{% static 'js/applicant/login.js' %}"></script>
{% endblock content %}