{% extends 'for_applicant/base.html' %}
{% load static %}

{% block head %}
   <link rel="stylesheet" href="{% static 'css/for_applicant.css' %}">
{% endblock head %}

{% block content %}
   <div class="password_reset">
      <p class="password_reset_head">| 비밀번호 재설정</p>
      <div class="password_reset_container">
         <div class="password_reset_intro">
            <img src="{% static 'images/password_check.png' %}" alt="">
            <span>비밀번호를 찾고자하는 아이디를 입력해주세요.</span>
         </div>
         <div class="password_reset_form_container">
            <form method="POST" action="" id="password_reset_form">
               {% csrf_token %}
               <div class="email_box">
                  <label for="email">이메일</label>
                  <input type="email" name="email" id="email" placeholder="회원가입에 사용한 이메일을 입력해주세요." required>
               </div>
               
               <button type="submit" id="password_reset_btn">인증하기</button>
            </form>
         </div>
      </div>
   </div>
   <script src="{% static 'js/applicant/password_reset.js' %}"></script>
   <script>
      window.onload = function() {
         document.getElementById('id_email').setAttribute('placeholder', '이메일');
      }
   </script>
{% endblock content %}