{% extends 'for_applicant/base.html' %}
{% load static %}
{% load applicant_filters %}

{% block head %}
   <link rel="stylesheet" href="{% static 'css/write_apply.css' %}">
{% endblock %}

{% block content %}
<div class="apply_container">
   <p class="apply_name">{{ template.name }}</p>
   <p class="apply_description">{{ template.description }}</p>
   <form action="{% url 'applicants:apply' pk=template.pk %}" method="post" id="applyForm", enctype="multipart/form-data">
      {% csrf_token %}
      <div class="apply_content">
         <div>
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name }}
         </div>
         <div>
            <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
            {{ form.phone_number }}
         </div>
         <div>
            <label for="{{ form.school.id_for_label }}">{{ form.school.label }}</label>
            {{ form.school }}
         </div>
         <div>
            <label for="{{ form.major.id_for_label }}">{{ form.major.label }}</label>
            {{ form.major }}
         </div>
         <div class="possible_date_content">
            <label for="{{ form.possible_date.id_for_label }}">{{ form.possible_date.label }}</label>
            {{ form.possible_date }}
         </div>

         <ol class="questions_list">
            {% for question in template.questions.all %}
               <li class="question">
                  <label for="question_{{question.id}}">{{question.question_text}}</label>
                  {% if question.allow_file_upload %}
                     <input type="file" name="file_{{question.id}}" required>
                  {% else %}
                  <textarea name="answer_{{ question.id }}" cols="50" rows="5">{{ answers|dict_get:question.id }}</textarea>
                  {% endif %}
               </li>
            {% endfor %}
         </ol>
      </div>
   </form>
   <div class="apply_button">
      <button type="button" onclick="saveDraft()">임시 저장</button>
      <button type="submit" onclick="submitForm()">지원서 제출하기</button>
   </div>
</div>
<script>
   function saveDraft() {
      const formData = new FormData(document.getElementById("applyForm"));

      // 비동기적으로 서버에 데이터 전송
      fetch("{% url 'applicants:save_draft' pk=template.id %}", {
         method: "POST",
         body: formData,
         headers: {
            "X-CSRFToken": "{{ csrf_token }}",
         },
      })
      .then(response => response.json())
      .then(data => {
         if (data.status === 'draft_saved') {
            alert("지원서가 임시 저장되었습니다.");
         } else {
            alert("임시 저장에 실패했습니다. 다시 시도해주세요.");
         }
      })
      .catch(error => {
         console.error("Error:", error);
         alert("임시 저장 중 오류가 발생했습니다.");
      });
   }
   
   function submitForm() {
      let valid = true;
      let invalidField = null;
      let invalidFieldName = "";

      let applicant_infos = ["name", "phone_number", "school", "major"];
      applicant_infos.forEach(function(applicant_info) {
         let info = document.querySelector(`input[name='${applicant_info}']`);
         if (info.value.trim() == "" && valid) {
            valid = false;
            invalidField = info;
            invalidFieldName = info.placeholder;
         }
      });

      if (valid) {
         let questions = document.querySelectorAll("textarea[name^='answer_']");
         questions.forEach(function(question) {
            if (question.value.trim() == "" && valid) {
               valid = false;
               invalidField = question;
            }
         });
      }
      
      if (valid) {
      let fileInputs = document.querySelectorAll("input[type='file']");
      fileInputs.forEach(function(fileInput) {
         if (fileInput.required && fileInput.files.length === 0 && valid) {
            valid = false;
            invalidField = fileInput;
         }
      });
   }

   if (!valid) {
      if (invalidFieldName == "") {
         alert("모든 필수 항목을 작성하거나 파일을 업로드해주세요.");
      } else {
         alert(invalidFieldName + "을(를) 작성해주세요");
      }
      invalidField.focus();
      return false;
   }

      if (valid) {
         const form = document.getElementById("applyForm");
         form.action = "{% url 'applicants:apply' pk=template.pk %}";
         form.submit();
      }
   }
</script>
{% endblock content %}